---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 13 2026')}
	heroImage={AboutHeroImage}
>
	<span style='font-size:100px;'>&#128327;</span>
	
</Layout>
